body {
    background: #3c0b54;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blanchedalmond;
}

#homepageHeader {

}

#mainTitle {

}

#subtextPhoto {

}

#mainBody {

}

#linksFooter {
    
}